{% extends "journal/navbar.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container bg-primary shadow-md p-5 form-layout">
        <h3 class="text-center">Update username and email</h3>
        <br>
        <form method="POST" action="" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
    
            {{ ProfileForm|crispy }}
            <br>
            <button type="submit" class="btn btn-secondary btn-md w-100 btn-block p-3">Update</button>
        </form>
    </div>

    <br>

    <div class="container bg-primary shadow-md p-5 form-layout">
        <h3 class="text-center">Delete your Account</h3>
        <br>
        <a type="button" class="btn btn-danger btn-md w-100 btn-block p-3" href="{% url "delete-account" %}">Delete Account</a>
    </div>

{% endblock content %}