{% extends "journal/index_navbar.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container bg-primary shadow-md p-5 form-layout">

        <h3>Create your Account</h3>
        <br>

        <form method="POST" action="" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
    
            {{ RegistrationForm|crispy }}

            <br>
    
            <button type="submit" class="btn btn-secondary btn-md w-100 btn-block p-3">Create Account</button>
    
        </form>
    </div>

{% endblock content %}
